<script src="/static/js/signup.js"></script>
<div class="form">
  <label for="username">Username</label>
  <input type="text" name="username" value="{{username}}" required="true"><span class="user-error error"></span><br>
  <label for="password">Password</label>
  <input type="password" name="password"><span class="password-error error"></span><br>
  <label for="passcheck">Re-enter Password</label>
  <input type="password" name="passcheck"><span class="passcheck-error error"></span><br>
  <label for="email">email address</label>
  <input type="text" name="email" value="{{email}}"><br><br>
  <button class="submit">submit</button>
  <button class="cancel">cancel</button><br>
  Already a member? <a class="login">Login</a>
</div>
