<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>PointlessGripes - {{pagename}}</title>
</head>
<body>
  <header>
    <a href="/"><h1>PointlessGripes.com</h1></a>
  </header>
  <nav id="nav">
    <a href="/newpost">Post Gripe</a>
    {% if user %}
      <a href="/logout">Logout</a>
    {% else %}
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    {% endif %}
  </nav>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
  <footer>
    <p>Some Placeholder text</p>
  </footer>
</body>
</html>
