{% extends "base.html" %}
{% block content %}
<div class="form">
  <a href="/permalink/{{post_id}}">Back to post</a>
  <form method="post">
    <table class="user-management">
      <tr>
        <td>Subject</td>
        <td><span class="fontawesome-trash"></span></td>
      </tr>
      <tr>
        <td><input type="text" name="subject" value="{{subject}}"></td>
      </tr>
      <tr>
        <td>Content</td>
      </tr>
      <tr>
        <td><textarea name="content">{{content}}</textarea></td>
      </tr>
      <tr>
        <td><button name="Submit" type="submit">Edit Gripe!</button></td>
      </tr>
    </table>
  </form>
</div>

{% endblock %}
