{% extends "base.html" %}
{% block content %}
<div class="form">
<form method="post">
  <p>Subject</p>
  <input type="text" name="subject" value="{{subject}}"><br>
  <p>Content</p>
  <textarea name="content">{{content}}</textarea><br>
  <button name="Submit" type="submit">Edit Gripe!</button>
</form>
</div>
<div class="delete">
  <form method="post">
    <p>DELETE POST</p>
    <input type="checkbox" name="delete">
    <button type="submit" name="submit">DELETE</button>
  </form>
</div>
{% endblock %}
