{% extends "base.html" %}

{% block content %}
<div class="form">
  <form method="post">
    <table>
      <tr class="user-management">
        <td>Username</td>
        <td><input type="text" name="username"></td>
      </tr>
      <tr class="user-management">
        <td>Password</td>
        <td><input type="password" name="password"></td>
      </tr>
      <tr class="user-management">
        <td><input type="submit"></td>
        <td>Not a member yet? <a href="/signup">Signup</a></td>
      </tr>
      <tr class="user-management">
        <td class="error">{{error}}</td>
      </tr>
    </table>
  </div>
{% endblock %}
