{% extends "base.html" %}

{% block content %}
  <div class="stream">
    <button>click me</button>
    {% for post in posts %}
      <article class="post" id="{{post.key().id()}}">
        <div class="heading">
          <h3 class="subject"><a href="/permalink/{{post.key().id()}}">{{post.subject}}</a></h3>
        </div>
        <div class="right-info">
          <form>
            <button formmethod="post" formaction="/upvote/{{post.key().id()}}" type="submit">upvote</button>
            <button formmethod="post" formaction="/delete/{{post.key().id()}}" type="submit"><span class="fontawesome-trash"></span></button>
          </form>
          {% if user %}
            {% if user.username == post.user %}
              <div class="delete" id="{{post.key().id()}}"><span class="fontawesome-trash">a</span></div>
            {% else %}
              <div class="upvote" id="{{post.key().id()}}"><span class="fontawesome-plus"></span></div>
            {% endif %}
          {% endif %}
          <br>{{post.created}}<br>
            {{post.upvotes}}
          </div>
        </div>
        <div class="content">
          {{post.content | safe}}
          <!-- closing any unclosed tags-->
          </b></em></strong></code></u>
        </div>
        <div class="tail">
          <span class="left"><em><a href='/permalink/{{post.key().id()}}'>permalink</a></em></span>
          <span class="right"><strong>-{{post.user}}</strong>
        </div>
      </article>
    {% endfor %}
  </div>
{% endblock %}
