{% extends "base.html" %}

{% block content %}
  <div class="stream">
    {% for post in posts %}
      <article class="post">
        <div class="heading">
          <h4 class="subject">{{post.subject}}</h4>
          <span class="right-info">
            {% if user %}
              <form method="post" action="/permalink/{{post.key().id()}}">
                {% if user.username == post.user %}
                  <input type="hidden" name="edit" value="True">
                  <button type="submit" value="Submit">Edit/Delete</button>
                {% else %}
                  <input type="hidden" name="kudos" value="True">
                  <button type="submit" value="Submit">Kudos!</button>
                {% endif %}
              </form>
            {% endif %}
          <br>{{post.created}}<br>{{post.kudos}} kudos</span>
        </div>
        <div class="content">
          {{post.content}}
        </div>
        <div class="tail">
          <span class="left"><em><a href='/permalink/{{post.key().id()}}'>permalink</a></em></span>
          <span class="right"><strong>-{{post.user}}</strong>
        </div>
      </article>
    {% endfor %}
  </div>
{% endblock %}
