{% extends "base.html" %}

{% block content %}
<div class="form">
  <form method="post">
    <table class="user-management">
      <tr>
        <td>Username</td>
        <td><input type="text" name="username" value="{{username}}"><td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
        <td>Retype Password</td>
        <td><input type="password" name="passcheck"></td>
      </tr>
      <tr>
        <td>Email Address</td>
        <td><input type="text" name="email"></td>
      </tr>
      <tr>
        <td><input type="submit"></td>
      </tr>
      <tr>
        <td>{{error}}</td>
        <td>Already a member? <a href="/login">Login</a></td>
      </tr>

    </table>
  </div>
{% endblock %}
