{% extends "base.html" %}

{% block content %}
  <div class="stream">
    <div class="username">
      <h2>{{title}}</h2>
    </div>
    {% for post in posts %}
      <article class="post" id="{{post.key().id()}}">
        <div class="title-bar">
          <div class="heading">
            <h3 class="subject"><a href="/permalink/{{post.key().id()}}">{{post.subject}}</a></h3>
          </div>
          <div class="interact">
            {% if user %}
              {% if user.key() == post.user.key() %}
              <p class="interact"><a class="edit-link" href="/editpost/{{post.key().id()}}"><span class="fontawesome-edit"></span></a>
                <span class="fontawesome-trash"></span>
                <span class="fontawesome-plus-sign-alt"> </span> <span class="upvote-count"> {{post.upvote}}</span></p>
              {% else %}
                <p class="interact"><span class="error"></span><span class="fontawesome-plus"></span><span class="upvote-count"> {{post.upvote}}</span></p>
              {% endif %}
            {% endif %}
            {{post.upvote}}
            </div>
          </div>
        <div class="content">
          {{post.content | safe}}
          <!-- closing any unclosed tags-->
        </b></em></strong></code></u>
        <br>
        </div>
        <div class="tail">
          <a href="/user/{{post.user}}"<em>-{{post.user.username}}</em></a>
        </div>
        <div class="comments">
        </div>
        <div class="newcomment">
          <input name="newcomment" type="text" value="{{comment}}">
          <button name="submit">Send</button>
        </div>
        <div class="comment-tab">
          <span class="fontawesome-double-angle-down"></span> comments <span class="fontawesome-double-angle-down"></span>
        </div>
        <div class="open-tab">
          <span class="fontawesome-double-angle-up"></span> close <span class="fontawesome-double-angle-up"></span>
        </div>
      </article>
    {% endfor %}
  </div>
{% endblock %}
